---
layout: default
---

article#post.post.col-lg-9.col-xs-12.pull-right
    h1!= document.title
    .post-content!= content

aside.post.col-lg-3.col-xs-12.pull-right
    if document.relatedDocuments && document.relatedDocuments.length > 0
        section#related
            h3 Related Posts
            nav.linklist
                for relatedDocument in document.relatedDocuments
                    li
                        span!= relatedDocument.date.toDateString()
                        a(href!= relatedDocument.url)!= relatedDocument.title

.post.col-lg-9.col-xs-12.pull-right
    section
        h1 Comments
        #disqus_thread(aria-live="polite")
            noscript Please enable JavaScript to view the <a href="http://disqus.com/?ref_noscript">comments powered by Disqus.</a>
    script.
        var disqus_shortname = 'macnaughton';
        //var disqus_developer = 1;

        var disqus_identifier = '#{site.url + document.url}';
        var disqus_url = '#{site.url + document.url}';
        var disqus_title = '#{document.title}';
        var disqus_script = 'embed.js';

        (function () {
            var dsq = document.createElement('script'); dsq.type = 'text/javascript'; dsq.async = true;
            dsq.src = 'http://' + disqus_shortname + '.disqus.com/' + disqus_script;
            (document.getElementsByTagName('head')[0] || document.getElementsByTagName('body')[0]).appendChild(dsq);
        }());